.testimonials{
    margin-top: 120px;
    margin-left: 221px;
    width: 1127px;
    height: 416px;
}
.testimonials-1{
    display: flex;
    width: 100%;
    height: 73px;
}
.testimonials-1-h2{
    margin-top: -5px;
    color: #000;
    font-family: 'Roboto';
    font-size: 48.44px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.testimonials-1-img{
    margin-left: 275px;
    margin-top: 6px;
    width: 140px;
    height: 50px;
}
.testimonials-2{
    display: flex;
    margin-top: 50px;
    width: 100%;
    height: 283px;
}
.testimonials-2-1{
    display: flex;
    margin-left: 67px;
    width: 420px;
    height: 283px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.06);
    background-image: url(./images/Rectangle\ 9.png);
    background-repeat: no-repeat;
}
.testimonials-2-1-img{
    margin-top: 111px;
    margin-left: 32px;
    width: 61px;
    height: 61px;
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.line-3{
    margin-left: 34px;
    width: 250px;
    height: 280px;
}
.line-3-1{
    color: #000;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.line-3-2{
    margin-left: 20px;
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.line-3-3{
    color: #000;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}